@font-face {

    font-family: "aclonica";
    src: url('../polices/Aclonica/Aclonica.ttf');
}

@font-face {

    font-family: "garamond";
    src: url('../polices/Garamond/static/EBGaramond-Regular.ttf');
}

#cache {

    position: fixed;
    z-index: 9997;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#menu-lateral {

    width: 360px;
    height: 100%;
    background-color: snow;
    position: absolute;
    z-index: 9998;
    display: none;
}

#col-fermeture-lateral {

    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

#bouton-fermeture-lateral {

    width: 50px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#row-menu-lateral {

    margin-top: 20px;
    font-family: "garamond", arial;
    font-size: 18px;
    font-weight: 700;
}

.sous-liste-laterale {

    font-family: "garamond", arial;
    font-size: 20px;
}

#header-main-row {

    text-align: center;
    background-color: rgb(92, 22, 22);
    height: 220px;
    color: white;
}

.ligne-recherche {

    display: none;
    padding: 10px;
}

#texte-recherche {

    width: 80%;
}

#icone-recherche {

    display: flex;
    justify-content: center;
    align-items: center;
}

#icone-site {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icone {

    font-size: 25px;
}

#bloc-logo {

    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#image-logo {
    
    margin-bottom: 30px;
}

#texte-logo {

    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 700;
}

#bloc-logo a {

    color: white;
}

#bloc-logo a:hover {

    text-decoration: none;
}

#menu-header-droite {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.element-menu {

    margin-right: 20px;
}

#icone-panier {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

#compteur-panier {

    margin-top: 20px;
    margin-left: 3px;
}

#menu-header-gauche {

    display: none;
}

.lien-header{

    color: black !important;
}

#navbar {

    font-family: "garamond", arial;
    font-size: 19.2px;
}

#container-header, #container-footer {

    font-family: "aclonica", arial;
    font-size: 16px;
}

#container-footer {

    text-align: center;
    background-color: rgb(92, 22, 22);
    height: 220px;
    color: white;
}

#container-footer a {

    color: white;
}

.logo-footer {

    font-size: 20px;
}

@media (max-width: 965px) and (min-width: 652px) {

    #container-header, #container-footer {

        font-size: 15px;
    }
    
    #texte-logo {
    
        font-size: 18.75px;
        letter-spacing: 1px;
    }

    #icone-recherche {

        display: none;
    }

    #menu-header-gauche {

        display: block;
        padding-top: 100px;
    }

    #icone-site {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image-logo {

        transform: scale(0.7);
        margin-bottom: 10px;
    }

    #menu-header-droite {

        display: none;
    }  
}

@media (max-width: 651px) {

    #container-header, #container-footer {

        font-size: 15px;
    }
    
    #texte-logo {
    
        font-size: 18.75px;
        letter-spacing: 1px;
    }

    #icone-recherche {

        display: none;
    }

    #icone-site {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image-logo {

        transform: scale(0.7);
        margin-bottom: 10px;
    }

    #icone-panier {

        padding-left: 0;
    }

    #menu-header-gauche {

        display: flex;
        flex-direction: column;
        padding-top: 80px;
        text-align: left;
    }

    #menu-header-droite {

        display: none;
    }

    .element-menu {

        margin-bottom: 10px;
    }
}
